<div class="col-md-12 application-list-container">
  <table class="table table-stripped table-hovered table-bordered">
    <tr>
      <td>
        <select name="select-agents">
          <option value="agent-one">Branch One</option>
          <option value="agent-two">Branch Two</option>
          <option value="agent-three">Branch Three</option>
        </select>
      </td>
    </tr>
    <tr>
      <th>S.No</th>
      <th>Applicant Id</th>
      <th>Applicant Name</th>
      <th>Agent Name</th>
      <th>Province Name</th>
      <th>Branch Manager Name</th>
      <th>Departure Date</th>
      <th>Action</th>
    </tr>
    <tr>
      <td>1</td>
      <td>875766</td>
      <td>Rahul Goyal</td>
      <td>Monu Kumar</td>
      <td>Province 1</td>
      <td>Sanyam Goyal</td>
      <td>15-01-2019</td>
      <td><a routerLink="email" routerLinkClass="active" class="btn btn-fps">Email</a> <a routerLink="sms" routerLinkClass="active" class="btn btn-fps">SMS</a></td>
    </tr>
    <tr>
      <td>2</td>
      <td>5645256</td>
      <td>Mohit Verma</td>
      <td>Harish Goyal</td>
      <td>Province 1</td>
      <td>Ashpi Kumar</td>
      <td>23-01-2019</td>
      <td><a routerLink="email" routerLinkClass="active" class="btn btn-fps">Email</a> <a routerLink="sms" routerLinkClass="active" class="btn btn-fps">SMS</a></td>
      </tr>
  </table>

</div>