<div class="row log-in-form-container">
  <div class="col-md-6">
  <form name="loginForm" action="#" method="POST">
  <div class="col-md-12 form-group">
    <label for="name">Username</label>
      <input type="text" class="form-control" name="name" id="name" placeholder="name" />
  </div>
  <div class="col-md-12 form-group">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control" id="password" placeholder="password"/>
  </div>
  <div class="col-md-12 form-group">
    <a class="btn btn-info" name="log-in" routerLink="home" routerLinkClass="active" >Log In</a>
  </div>
  <div class="col-md-12 form-group">
    <a class="btn btn-info" name="forget" routerLink="forget" routerLinkClass="active" >Forget Password</a>
    <a class="btn btn-info" name="create" routerLink="create" routerLinkClass="active" style="margin-left: 5px" >Create Account</a>
    
  </div>
  </form>
  </div>

</div>