<div class="col-md-6 col-md-offset-3 adding-form-box">
  <div class="col-md-12 box-heading-container">
    <p>Email</p>
  </div>
  <div class="col-md-12 box-value-container">
  <div class="col-md-12 form-group">
    <label for="applicant-name">
      Applicant Name
    </label>
    <input type="text" name="applicant-name" class="form-control" id="applicant-name" placeholder="Name" />

  </div>
    <div class="col-md-12 form-group">
        <label for="agent-name">
          Email To
        </label>
        <input type="email" name="agent-name" class="form-control" id="agent-name" placeholder="mohit@gmail.com">
    
      </div>
        <div class="col-md-12 form-group">
            <label for="passport-status">
              Message
            </label>
            <textarea name="address" class="form-control" id="address"></textarea>
        
          </div>
            
        <div class="col-md-12 form-group">
           <a routerLink="#" routerLinkClass="active" class="btn btn-fps">Send</a><a routerLink="../" routerLinkClass="active" class="btn btn-fps">Back</a>
           
        </div>
        </div>
</div>